body {
    font-family: "Open Sans", sans-serif;
    
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
    color:#6d10d6;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #6d10d6;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgba(168,216,167,255), #67e7115b, rgba(0, 217, 255, 0.918), rgba(158,216,167,255));
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: rgba(168,216,167,255);
    
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    border: solid rgba(168,216,167,255);
    
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; /*makes button overlayed*/
}
.fa {
    color: #6d10d6;
    
}


.site-footer {
    background-image: linear-gradient(rgba(168,216,167,255), white);
    padding: 20px 0;
}



body {
    /* The image used */
    background-image: url(/img/background1.png);
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }