body {
    font-family: "Open Sans", sans-serif;
    
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: white;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgba(168,216,167,255), #67e7115b, rgba(0, 217, 255, 0.918), rgba(158,216,167,255));
    color: white;
}

.row-content {
    padding: 10px 0;
    min-height: 200px;
}
.navbar {
    background-color: rgba(168,216,167,255);
    
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}

.carousel {
    border: solid rgba(168,216,167,255);
    width: 300;
    height: 400;
    margin-left: auto;
    margin-right: auto;
}

.d-block {
    height: 395;
    width: 295;
    object-fit: fill;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; /*makes button overlayed*/
}
.fa {
    color: #6d10d6;
    
}



.site-footer {
    background-image: linear-gradient(rgba(168,216,167,255), white);
    padding: 20px 0;
}

.logo {
    border-radius: 50%;
}


body {
    /* The image used */
    background-image: url(/img/anothebackround.jpg);
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}
marquee {
    background-color: rgba(168,216,167,255);
    height: 35;
}
marquee > h4 {
    color:#6d10d6;
    font-style: italic;
    
}

.card-title {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #6d10d6;
}

.price {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    color: #6d10d6;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    
}
.men {
    height: 285;
    width: 75%;
    margin: auto;
}

.card {
    box-shadow: 10px 10px 5px  lightgrey;
}